# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js
.next
out
.next-static

# Testing
playwright-report
playwright/.cache
coverage

# Env
.env
.env.local
.env.*.local

# DB
drizzle

# Misc
.DS_Store
